{% extends 'portal/base.html'%}

{% block content %}
<div class="wrapper">
  <div id="main-box" class="light-box column-double">
      <div id="phones">
	<img src="/static/portal/img/phones.png" />
      </div>
      <div id="desc-text">
	<p>If you have a smartphone and want to explore the world around you, <strong>LiveScoop</strong> is the perfect app to help you</p>
	<ul>
	  <li>meet new friends</li>
	  <li>find new places</li>
	  <li>get recommendations and tips</li>
	  <li>discover your city and its people</li>
	</ul>
      </div>
      </div><!-- .light-box -->

    <div class="light-box column-single">
      <h2>Download Now</h2>
    <div id="download">
      <div id="buttons">
	<a href="https://market.android.com/details?id=com.kinkajougames.geochat">
	  <img src="/static/portal/img/android_badge.png" border="0" width="150" />
	</a><br>
	<a href="javascript:alert('Coming Soon');">
	  <img src="/static/portal/img/app-store-button.png" border="0" width="150" />
	</a>
      </div><!-- buttons -->
      </div><!-- download -->
    </div><!-- .lightbox -->


    <div class="light-box column-single">
      <h2>Watch the Video</h2>
      <iframe width="240" height="165" src="http://www.youtube.com/embed/6ooInluKNbs?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="light-box column-single">
      live feed?
    </div><!-- .light-box -->

    <div class="light-box column-triple" id="features">
      <div class="step">
	<center><img src="/static/portal/img/Awards_icon.svg" height="90" /></center>
	<h2>Discover Places</h2>
	<p>Lorem ipsum dolor sit amet lorem ipsum</p>
      </div><!-- step -->
      <div class="step">
	<center><img src="/static/portal/img/Awards_icon.svg" height="90" /></center>
	<h2>Meet New Friends</h2>
	<p>Lorem ipsum dolor sit amet lorem ipsum</p>
      </div><!-- step -->
      <div class="step">
	<center><img src="/static/portal/img/Awards_icon.svg" height="90" /></center>
	<h2>Get Recommendations</h2>
	<p>Lorem ipsum dolor sit amet lorem ipsum</p>
      </div><!-- step -->
      <div class="step last">
	<center><img src="/static/portal/img/Awards_icon.svg" height="90" /></center>
	<h2>Earn Badges</h2>
	<p>Lorem ipsum dolor sit amet lorem ipsum</p>
      </div><!-- step -->
    </div><!-- .light-box -->

    </div><!-- wrapper -->
{% endblock %}